* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
strong,
b,
i,
em {
  font-style: normal;
  font-weight: normal;
}

img {
  vertical-align: top;
}

.clear:after {
  content: "";
  display: block;
  overflow: hidden;
  height: 0;
  clear: both;
  visibility: hidden;
}

html, body {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 999;
  top: 0;
  background: black;
  position: fixed;
}

header .inner {
  width: 90%;
  height: 80px;
  margin: 0 auto;
}

header .inner .logo-lft {
  float: left;
}

header .inner .logo-pic {
  width: 163px;
  height: 21.59px;
  background: url(https://image.converse.com.cn/images/commons/header-footer-new3.png) 0 0 no-repeat transparent;
  position: absolute;
  top: 30px;
}

header .inner .logo-rgt {
  float: right;
  margin: 30px 0 0 0;
}

header .inner .logo-rgt ul li {
  float: left;
  color: white;
}

header .inner .logo-rgt ul li a {
  font-size: 10px;
}

header .inner .logo-rgt .registry a {
  vertical-align: middle;
}

header .inner .logo-rgt .registry .pic {
  display: inline-block;
  background: url(../img/sprites_header_footer.png) no-repeat -96px -85px;
  color: white;
  height: 31px;
  width: 30px;
  vertical-align: middle;
}

header .inner .logo-rgt .shooping a {
  vertical-align: middle;
}

header .inner .logo-rgt .shooping .pic {
  background: url(../img/sprites_header_footer.png) no-repeat -168px -97px;
  color: white;
  text-align: center;
  line-height: 31px;
}

header .inner .logo-rgt .message .pic {
  background: url(../img/sprites_header_footer.png) no-repeat -95px -54px;
}

header .inner .logo-rgt .search .pic {
  background: url(../img/sprites_header_footer.png) no-repeat -137px -161px;
}

header .inner .logo-rgt .help .pic {
  background: url(../img/sprites_header_footer.png) no-repeat -169px -161px;
}

.logo-rgt .pic {
  display: inline-block;
  height: 31px;
  width: 30px;
  vertical-align: middle;
  margin: 0 20px;
}

header nav {
  width: 100%;
  background: #464646;
  text-align: center;
}

header nav ul .one {
  display: inline-block;
  height: 50px;
  min-width: 110px;
  padding: 0 12px;
  cursor: pointer;
  position: relative;
}

header nav ul .one a {
  display: inline-block;
  height: 100%;
  min-width: 110px;
  font-size: 18px;
  height: inherit;
  line-height: inherit;
  padding: 5px 0.625em;
  box-sizing: border-box;
}

header nav ul .one span {
  border-color: white transparent transparent;
  border-right: 6px solid transparent;
  border-style: solid;
  border-width: 6px;
  position: absolute;
  left: 46%;
  bottom: 6px;
}

.man {
  display: none;
  height: 262px;
  width: 100%;
  position: absolute;
  background-color: #fff;
  z-index: 100;
}

.man .man-top,
.man .man-bot {
  max-width: 1000px;
  height: 130px;
  margin: 0 auto;
}

.man .man-top li,
.man .man-bot li {
  display: inline-block;
  position: relative;
}

.man .man-top li span,
.man .man-bot li span {
  color: black;
  display: block;
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  line-height: 15px;
  left: 0;
  font-size: 14px;
}

.man .line {
  height: 1px;
  width: 100%;
  background: #b7b7b7;
}

.mask_layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
  display: none;
}

.man ul li:hover span {
  text-decoration: underline;
  color: #aaa;
}

.banner {
  color: #333;
  font-size: 100%;
  vertical-align: baseline;
  height: auto;
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.banner a {
  color: #222;
  font-size: 12px;
  line-height: 14px;
}

.banner .nav-notice {
  padding: 15px 0;
}

.banner .nav-notice .swiper-duration {
  border: 0;
  position: relative;
  overflow: hidden;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 28px;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  box-sizing: content-box;
}

.swiper-wrapper .swiper-slide {
  flex-shrink: 0;
  height: 100%;
  position: absolute;
  color: #df0300;
  font-size: 15px;
  text-align: center;
  line-height: 33px;
  width: 100%;
}

.swiper-wrapper .swiper-slide a {
  display: block;
  max-width: 1200px;
  text-align: center;
  outline: medium none;
  overflow: hidden;
  color: #222;
  font-size: 12px;
  line-height: 14px;
  margin: 0 auto;
}

.swiper-wrapper .move_two {
  left: 100%;
}

.swiper-wrapper .move_three {
  left: 200%;
}

.slide {
  position: relative;
  margin: 0 auto;
  padding-bottom: 36px;
  overflow: hidden;
}

.slide .pic .hid {
  display: none;
}

.slide .pic .show {
  display: block;
}

.slide .rig {
  width: 40px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -100px;
  cursor: pointer;
  background-color: #000;
  display: block;
  opacity: 0.8;
}

.slide .rig span {
  width: 21px;
  height: 40px;
  background: url(../img/homeslide_arrow.png) no-repeat;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -11px;
  margin-top: -20px;
}

.slide .lef {
  width: 40px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -100px;
  cursor: pointer;
  background-color: #000;
  display: block;
  opacity: 0.8;
}

.slide .lef span {
  width: 21px;
  height: 40px;
  background: url(../img/homeslide_arrow.png) no-repeat 0 -45px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -11px;
  margin-top: -20px;
}

.slide .meau {
  width: 100%;
  bottom: 0;
  height: 36px;
  text-align: center;
}

.slide .meau ul {
  width: 100%;
  height: 36px;
  margin: 0 auto;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.slide .meau ul li {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
  height: 16px;
  line-height: 16px;
  padding: 5px 0;
  color: #999;
}

.slide .meau ul .show {
  border-top: 1px solid black;
  color: black;
}

.street {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.left h1,
.middle h1,
.right h1 {
  font-size: 24px;
  margin: 17px 0 17px 0;
  color: #000;
}

.lead {
  max-width: 1000px;
  margin: 40px auto 0;
}

.lead .lead-title {
  width: 100%;
  height: 40px;
  background: #464646;
  color: #fff;
  font-size: 18px;
}

.lead .lead-title img {
  margin: 10px 11px 0 20px;
  float: left;
}

.lead .lead-title span {
  margin: 10px 0 0 0;
  float: left;
}

.lead .lead-pic {
  width: 100%;
  height: auto;
  margin: 20px auto 0;
}

.lead .lead-pic .left {
  display: inline-block;
  width: 48.8%;
  margin-right: 1.9%;
}

.lead .lead-pic .right {
  display: inline-block;
  width: 48.8%;
}

.lead .left .more a,
.lead .right .more a {
  line-height: 48px;
  font-size: 16px;
  height: 48px;
  padding: 0 3px 0 7px;
  border: 1px solid #000;
  text-align: center;
  display: block;
  zoom: 1;
  width: 38%;
  background-color: #000;
  color: #fff;
}

.left .more a::after,
.right .more a::after {
  background: url(../img/sprites_header_footer.png) no-repeat -9px -163px;
  width: 20px;
  height: 30px;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
  margin-left: 13px;
  content: "";
}

.tid {
  max-width: 1000px;
  margin: 40px auto 0;
}

.tid .tid-title {
  width: 100%;
  height: 40px;
  background: #464646;
  color: #fff;
  font-size: 18px;
}

.tid .tid-title img {
  margin: 10px 11px 0 20px;
  float: left;
}

.tid .tid-title span {
  margin: 10px 0 0 0;
  float: left;
}

.tid .tid-pic {
  width: 100%;
  height: auto;
  margin: 20px auto 0;
}

.tid .tid-pic .left {
  width: 32%;
  display: inline-block;
  margin-right: 1.5%;
}

.tid .tid-pic .middle {
  width: 32%;
  display: inline-block;
  margin-right: 1.5%;
}

.tid .tid-pic .right {
  width: 32%;
  display: inline-block;
}

.tid .left .more a,
.tid .middle .more a,
.tid .right .more a {
  line-height: 42px;
  font-size: 18px;
  height: 42px;
  padding: 0;
  border: 0 solid #000;
  text-align: left;
  display: inline-block;
  zoom: 1;
  width: 33%;
  background-color: #fff;
  color: #333;
  text-decoration: underline;
}

.tid .left .more a::after,
.tid .middle .more a::after,
.tid .right .more a::after {
  background: url(https://image.converse.com.cn/images/homepage/arrow1.png) no-repeat scroll -20px -1px transparent;
  width: 20px;
  height: 30px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  margin-left: 13px;
  content: "";
}

.attention {
  height: auto;
  margin: 80px 0 0 0;
  background: #464646;
  width: 100%;
  color: #fff;
  text-align: center;
}

.attention h1 {
  font-size: 30px;
  margin: 78px auto 35px;
  display: inline-block;
}

.attention p {
  font-size: 16px;
  line-height: 24px;
}

.attention .pic {
  width: 210px;
  margin: 37px auto 0;
  text-align: center;
  padding-bottom: 80px;
}

.attention .pic .microblog {
  background: url(https://image.converse.com.cn/images/homepage/share.png) no-repeat -75px 0;
  width: 75px;
  height: 75px;
  display: block;
  float: left;
  text-indent: -9999px;
  margin: 0 15px;
  padding: 0;
}

.attention .pic .wechat {
  background: url(https://image.converse.com.cn/images/homepage/share.png) no-repeat -75px -75px;
  width: 75px;
  height: 75px;
  display: block;
  float: left;
  text-indent: -9999px;
  margin: 0 15px;
  padding: 0;
}

.sitemap {
  max-width: 1000px;
  margin: 75px auto 0;
  text-align: center;
}

.sitemap .line {
  height: 30px;
  margin: 20px auto;
  max-width: 1000px;
  position: relative;
  text-align: center;
}

.sitemap .line::after {
  background-color: #b7b7b7;
  content: "";
  height: 1px;
  left: 1.5%;
  position: absolute;
  top: 16px;
  width: 97%;
}

.sitemap dl {
  width: 24%;
  text-align: center;
  display: inline-block;
  zoom: 1;
  vertical-align: top;
  min-height: 280px;
}

.sitemap dl dt {
  margin-bottom: 20px;
}

.sitemap dl dt a {
  font-weight: bold;
}

.sitemap dl .strong a {
  font-weight: bold;
}

.sitemap dl a {
  color: #333;
  font-size: 14px;
}

.sitemap dl .margin {
  margin-bottom: 20px;
}

footer {
  width: 100%;
  position: relative;
  background-color: #000;
  color: #fff;
}

footer .inner {
  margin: 0 auto;
  max-width: 1000px;
  height: 180px;
  position: relative;
  text-align: center;
}

footer .inner ul {
  line-height: 30px;
  padding: 18px 0 86px 0;
}

footer .inner ul li {
  display: inline-block;
  margin: 0 10px;
}

footer .inner .logo {
  width: 133px;
  height: 100px;
  position: absolute;
  background: url(../img/header-footer-new2.png) 0 0 no-repeat;
  left: 50%;
  top: 22%;
  margin: -10px 0 0 -66px;
  transform: scale(0.5);
}

footer .inner .footer-bottom {
  display: block;
  margin: 12px auto;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 40px;
}

footer .inner .tip-for-fraud img {
  display: block;
  width: 60px;
  margin: 0 auto;
  cursor: pointer;
}
